*{
	border-radius: 0px !important;
}

.navbar{
	border: 0px solid #ddd;
	background-color: #DF0C00;
	padding-top: 10px;
	padding-bottom: 10px;
}

.fr-btn{
	width: 100%;
	background-color: #EF1C10;
	color: #FFF;
}

.fr-btn:hover{
}