extends layout

block content

	div.navbar.navbar-default#navigation(role='navigation')
		div.navbar-header
			a.navbar-brand
				img(src='/images/logo_white_line.png')

	div.container
		div.row
			div.col-xs-12
				div.btn-group(data-toggle='buttons')
					label.btn.fr-btn#home Hemma
						input(type='radio', disable="disable")
					label.btn.fr-btn#away Borta
						input(type='radio')
		div.row
			div.col-xs-12
				p.lead
					span Pannan håller 
					span#water-temp
					span  grader

		div.row
			div.col-xs-12
				p.lead
					span Utomhus: 
					span#outside-temp
		div.row
			div.col-xs-12
				p.lead
					span Vindhastighet: 
					span#wind-speed

		div.row
			div.col-xs-12
				p.lead
					span Effekt 
					span#output
					span  av 200 (
					span#outputRes
					span  kW)

	script.
		$(function(){
			$('#home').on('click', function(e){

				$.ajax( {
					url: '/setsettings', 
					data: {'mode': 'home'},
					dataType: 'json',
					beforeSend: function(){
						$('#navigation').addClass('navbar-wait');
					},
					complete: function(){
						$('#navigation').removeClass('navbar-wait');
					}
				}).done(function(data){
					console.log('home');
					console.log(data.title);
				});
			});

			$('#away').on('click', function(e){
				$.ajax( {
					url: '/setsettings', 
					data: {'mode': 'away'},
					dataType: 'json',
					beforeSend: function(){
						$('#navigation').addClass('navbar-wait');
					},
					complete: function(){
						$('#navigation').removeClass('navbar-wait');
					}
				}).done(function(data){
					console.log('away');
					console.log(data.title);
				});
			});


			$.ajax( {
				url: '/getweatherdata', 
				dataType: 'json',
				beforeSend: function(){
					$('#navigation').addClass('navbar-wait');
				},
				complete: function(){
					$('#navigation').removeClass('navbar-wait');
				}
			}).done(function(data){
				$('#outside-temp').html(data.t);
				$('#wind-speed').html(data.ws);
			});


			$.ajax( {
				url: '/getstat', 
				dataType: 'json',
			}).done(function(data){
				$('#water-temp').html(data.temp);

				if(data.mode == 'home'){
					$('#away').removeClass('active');
					$('#home').addClass('active');
				}

				else{
					$('#home').removeClass('active');
					$('#away').addClass('active');
				}

				$('#output').html(data.output);
				$('#outputRes').html(data.outputRes);
			});

		});
