extends layout

block content

	div.navbar.navbar-default#navigation(role='navigation')
		div.navbar-header
			a.navbar-brand
				img(src='/images/logo_white_line.png')

	div.container
		div.row
			div.col-xs-6
				p.lead Temperaturen är inställd på 60.0 grader
				script.
					$(function(){
						$('#inc-temp').on('click', function(e){
							$.ajax( {
								url: '/setdata', 
								beforeSend: function(){
									$('#navigation').addClass('navbar-wait');
								},
								complete: function(){
									$('#navigation').removeClass('navbar-wait');
								}
							}).done(function(data){
								console.log(data);
							});
						});
					});


			div.col-xs-6
				div.btn-group(data-toggle='buttons')
					button.btn.fr-btn(id='dec-temp')
						span.glyphicon.glyphicon-minus
					button.btn.fr-btn(id='inc-temp')
						span.glyphicon.glyphicon-plus

		div.row
			div.col-xs-12
				p.lead Pannan håller 60.0 grader

		div.row
			div.col-xs-12
				p.lead Inomhus: 20.3 grader

		div.row
			div.col-xs-12
				p.lead Utomhus: 8.5 grader

		div.row
			div.col-xs-6
				p.lead Elementpump är

			div.col-xs-6
				div.btn-group(data-toggle='buttons')
					label.btn.fr-btn Av
						input(type='radio', id='off')
					label.btn.fr-btn.active På
						input(type='radio', id='on')
					label.btn.fr-btn Auto
						input(type='radio', id='auto')