extends layout

block content

	div.navbar.navbar-default#navigation(role='navigation')
		div.navbar-header
			a.navbar-brand
				img(src='/images/logo_white_line.png')

	div.container
		div.row
			div.col-xs-6
				p.lead Temperaturen 채r inst채lld p책 60.0 grader

			div.col-xs-6
				div.btn-group(data-toggle='buttons')
					label.btn.fr-btn.active#home Hemma
						input(type='radio', disable="disable")
					label.btn.fr-btn#away Borta
						input(type='radio')
		div.row
			div.col-xs-12
				p.lead Pannan h책ller 60.0 grader

		div.row
			div.col-xs-12
				p.lead
					span Utomhus: 
					span#outside-temp
		div.row
			div.col-xs-12
				p.lead
					span Vindhastighet: 
					span#wind-speed

	script.
		$(function(){
			$('#home').on('click', function(e){

				$.ajax( {
					url: '/setdata', 
					data: {'mode': 'home'},
					dataType: 'json',
					beforeSend: function(){
						$('#navigation').addClass('navbar-wait');
					},
					complete: function(){
						$('#navigation').removeClass('navbar-wait');
					}
				}).done(function(data){
					console.log('home');
					console.log(data.title);
				});
			});

			$('#away').on('click', function(e){
				$.ajax( {
					url: '/setdata', 
					data: {'mode': 'away'},
					dataType: 'json',
					beforeSend: function(){
						$('#navigation').addClass('navbar-wait');
					},
					complete: function(){
						$('#navigation').removeClass('navbar-wait');
					}
				}).done(function(data){
					console.log('away');
					console.log(data.title);
				});
			});


			$.ajax( {
				url: '/getweatherdata', 
				dataType: 'json',
			}).done(function(data){
				$('#outside-temp').html(data.t);
				$('#wind-speed').html(data.ws);
			});

		});
